defaults
    mode {{ default_mode }}
    log {{ default_log }}
    option {{ default_option }}
    timeout connect {{ default_timeout_connect }}
    timeout client {{ default_timeout_client }}
    timeout server {{ default_timeout_server }}
        
frontend {{ frontend_name }}
    bind {{ virtual_ipaddress }}:{{ frontend_port }}
    use_backend {{ backend_name }}

backend {{ backend_name }}
    balance {{ backend_balance }}
    option {{ backend_option }}
{% for server in servers %}
    server {{ server.name }} {{ server.ip }}:{{ server.port }} check inter {{ server.inter }} fall {{ server.fall }} rise {{ server.rise }}
{% endfor %}